.background {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.background svg {
  cursor: pointer;
  transition: color 0.2s;
  color: white;
}

/* .background svg:hover {
  color: var(--color-hover);
}

.background svg:active {
  color: var(--color-active);
}

.hidden {
  display: none;
} */

.cart_container {
  max-width: 72px;
  margin: 0 auto;
}